﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="text-align:center">
        <h2 style="color:red;">
            Error. Page not found
        </h2>
        <a href="~/User/Users">Go to main page</a>
    </div>
</body>
</html>
