﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="text-align:center">
        <h2 style="color:red">
            Oops! Something went wrong.            
        </h2>
        <a href="~/User/Users">Go to main page</a>
    </div>
</body>
</html>
