﻿@using Itransition.TeamManagement.Domain.Core.Entities;
@model List<City>
@{
    Layout = null;
}
<option value="">Please select value</option>
@foreach (var item in Model)
{
    <option value="@item.Id">@item.CityName</option>
}
