﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Management</title>
    @RenderSection("Styles", required: false)
    <link rel="shortcut icon" href="#" />
    <link href="~/Content/SiteCss/HomePageStyle.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/Markup.css" rel="stylesheet" />
    <style>
        .category-wrap {
            padding: 15px;
            background: white;
            width: 125px;
            box-shadow: 2px 2px 8px rgba(0,0,0,.1);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

            .category-wrap h3 {
                font-size: 16px;
                color: rgba(0,0,0,.6);
                margin: 0 0 10px;
                padding: 0 5px;
                position: relative;
            }

                .category-wrap h3:after {
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: #80C8A0;
                    position: absolute;
                    right: 5px;
                    bottom: 2px;
                    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
                }

            .category-wrap ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .category-wrap li {
                margin: 12px 0 0 0px;
            }

            .category-wrap a {
                text-decoration: none;
                display: block;
                font-size: 13px;
                color: rgba(0,0,0,.6);
                padding: 5px;
                position: relative;
                transition: .3s linear;
            }

                .category-wrap a:after {
                    font-family: FontAwesome;
                    position: absolute;
                    right: 5px;
                    color: white;
                    transition: .2s linear;
                }

                .category-wrap a:hover {
                    background: #80C8A0;
                    color: white;
                }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: right">
                    @Html.Partial(MVC.Shared.Views._LoginPartial)
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-1-5">
                    <div class="category-wrap">
                        <ul>
                            <li><a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)">Home</a></li>
                            <li><a href="@Url.Action(MVC.User.ActionNames.Users, MVC.User.Name)">User management</a></li>
                            <li><a href="@Url.Action(MVC.Country.ActionNames.GetCountries, MVC.Country.Name)">Country management</a></li>
                            <li><a href="@Url.Action(MVC.City.ActionNames.GetCities, MVC.City.Name)">City management</a></li>
                            <li><a href="@Url.Action(MVC.TaskBoard.ActionNames.Index, MVC.TaskBoard.Name)">Task management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4-5">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Team Management</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
