﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.PlaginationViewModels
@model List<PlaginationResultViewModel>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    switch (item.TypeLink)
    {
        case (HtmlLinkTypeEnum.FirstSkipLink):
            {
                <a class="pageSkiplLink" href="@item.PageUrl"><</a> @:|
                break;
            }
        case (HtmlLinkTypeEnum.SelectedLink):
            {
                <a class="pageSelectedLink" href="@item.PageUrl">@item.PageName</a> @:|
                break;
            }
        case (HtmlLinkTypeEnum.LastSkipLink):
            {
                <a class="pageSkiplLink" href="@item.PageUrl">></a>
                break;
            }
        default:
            {
                <a class="pageLink" href="@item.PageUrl">@item.PageName</a> @:|
                break;
            }
    }   
}


