﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.UserViewModels
@model UserCommentPopUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <style>
        .border {
            border: 1px solid red;
            padding: 10px;
        }
        .btn {
            background-color: #ffffff;
            color: #000000;
            font-size: 17px;
            border-radius: 2px;
            float: right;
        }
    </style>

    <style>
        .scroll {
            height: 300px;
            width: 470px;
            background: #fff;
            border: 1px solid #C1C1C1;           
            overflow-y: scroll;
        }
    </style>

    <div>
        <div class="scroll">
        @foreach (var item in Model.UserComments.OrderBy(x=>x.CreateDate))
        {
        <p class="border">
            @item.CreateDate<br><br>
            @item.Body
        </p>             
        }
        </div>
        <br>
        <form method="post" id="ajax_form" action="">
            <label for="comment">Add Comment:</label>
            <textarea cols="55" data-val="true" data-val-length="The length of the string must be up to 1000 characters." data-val-length-max="1000" id="comment" name="comment" rows="5"></textarea>
            <input type="hidden" name="userId" value="@Model.UserId">
            <input type="button" class="btn" id="btn" value="Add" />
        </form> 
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#btn").click(
            function () {
                sendAjaxForm('ajax_form');
                return false;
            }
        );
    });


    function sendAjaxForm(ajax_form) {
        $.ajax({
            url: '@Url.Action("AddComment", "User")',
            type: "POST",
            dataType: "html",
            data: $("#" + ajax_form).serialize(),
            success: function (data) {
                $("#popUpResult").html(data);
                $("#popUpResult").dialog("open");
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

$(function () {
        $('.addComment').on('click', function () {
            var userId = $(this).attr('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddComment", "User")',
                data: {
                "userId": userId
                },
                dataType: 'text',
                success: function (data) {
                $("#popUpResult").html(data);
                $("#popUpResult").dialog("open");
                },
                error: function (data) {
                console.log(data);
                }
                });

                return false;
                });
                });
</script>