﻿<div class="estimatePopup" v-bind:style="{ top: mouseposition.y + 'px', left: mouseposition.x + 'px', display: 'block'}">
    <div>
        <span class="popupTitle">Log Work for {{getFormatLogDate(logdate)}}</span>
        <span class="closePopupBtn" style="text-align:right; cursor: pointer" v-on:click="$emit('close')"> X </span>
    </div>
    <div>
        <ul v-for="item in errors">
            <li style="color:red">{{item}}</li>
        </ul>
    </div>
    <div>
        <label for="time-spent">Spent:</label>
        <div class="controls">
            <input class="timeSpent" v-model.lazy="timeSpent" type="text" maxlength="20" required>
            <span class="submitBtn" title="Add Worklog" v-on:click="sendWorkLogForm()">
                &#10004;
            </span>
        </div>
    </div>
    <div>
        <label for="worklog-comment">Comment:</label>&nbsp;
        <div class="controls">
            <textarea class="worklogComment" v-model.lazy="description" cols="40" rows="3" maxlength="300" required></textarea>
        </div>
    </div>
</div>
