﻿<div class="scrollbar">
    <table>
        <thead>
            <tr>
                <th class="no-select-vertical-cell table-head" style="color:white" v-bind:colspan="9">
                    Time Sheet
                </th>
            </tr>
            <tr class="no-border">
                <th class="th-summary no-select-vertical-cell" colspan="2">
                    Summary for <b>User</b> {{getFormatTableDate(startPeriod, endPeriod)}}
                    <br>
                    <div id="slider-wrapper">
                        <div id="slider-prev">
                            <a id="prev" v-on:click="getPreviousMonth()">&lt;&lt;</a>
                            <span v-if="counterMonths != 0"
                                  v-on:click="counterMonths > 0 ? getCurrentMonth() : null"
                                  v-bind:class="counterMonths < 0 ? 'no-active'  : null">
                                <b v-if="counterMonths<0"> {{counterMonths}}</b>
                                <b v-else> - {{counterMonths}}</b>
                            </span>
                        </div>
                        <div id="slider-today">
                            <span id="week" v-on:click="switchTableType('week-table')"><b>wk</b></span>
                            <a id="month" style="color:grey">mo</a>
                        </div>
                        <div id="slider-next">
                            <span v-if="counterMonths != 0" v-on:click="counterMonths < 0 ? getCurrentMonth() : null"
                                  v-bind:class="counterMonths > 0 ? 'no-active'  : null">
                                <b v-if="counterMonths<0"> {{counterMonths}}</b>
                                <b v-else>+ {{counterMonths}}</b>
                            </span>
                            <a id="next" v-on:click="getNetxMonth()">&gt;&gt;</a>
                        </div>
                    </div>
                </th>
                <th class="week-font week-width"
                    v-for="(item, index) in tableWeeksName">
                    {{item}}
                </th>
                <th class="week-font week-width">
                    Total:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in responseData.TaskWithLogsTime">
                <td class="no-select-vertical-cell task-name" style="width:40%; border-right: 0px solid grey">{{item.WorkTask.Name}}</td>
                <td class="no-select-vertical-cell task-name" style="border-left: 0px solid grey">{{item.WorkTask.Description}}</td>
                <td class="cursor"
                    v-for="log in item.TaskHoursPerMonth" v-on:click="log == 0 ? getLogWorkFormPopUp($event) : getWorkLogsPopUp($event)">
                    <span v-if="log>0">{{getformatTableValue(log)}}h</span>
                    <div style="text-align:center" v-else>
                        <span class="add-log">&#10133;</span>
                    </div>

                </td>
                <td class="total-font">
                    {{getformatTableValue(item.SumTaskHoursPerMonth)}}h
                </td>
            </tr>
            <tr style="background-color:#e0f0ff" v-if="responseData.TaskWithLogsTime !=null ? responseData.TaskWithLogsTime.length > 0 : false">
                <td class="no-select-vertical-cell nohover" colspan="2">Total ({{responseData.TaskWithLogsTime !=null ? responseData.TaskWithLogsTime.length : null}} issue):</td>
                <td class="total-font"
                    v-for="item in responseData.SumHoursPerWeek">
                    {{getformatTableValue(item)}}h
                </td>
                <td class="total-font">
                    {{getformatTableValue(responseData.SumHoursPerMonth)}}h
                </td>
            </tr>
            <tr v-else>
                <td class="no-select-vertical-cell" style="background-color:#e0f0ff" colspan="10">There are no time tracking records for the period.</td>
            </tr>
        </tbody>
    </table>
</div>
