﻿<div class="scrollbar">
<table>
    <thead>
        <tr>
            <th class="no-select-vertical-cell table-head" colspan="10">
                Time Sheet
            </th>
        </tr>
        <tr class="no-border">
            <th class="th-summary no-select-vertical-cell" colspan="2">
                Summary for <b>User</b>
                <br>
                <div id="slider-wrapper">
                    <div id="slider-prev">
                        <a id="prev" v-on:click="getPreviousWeek()">&lt;&lt;</a>
                        <span class="counter-prev" v-if="counterWeeks != 0"
                              v-on:click="counterWeeks > 0 ? getCurrentWeek() : null"
                              v-bind:class="counterWeeks < 0 ? 'no-active'  : null">
                            <b v-if="counterWeeks<0"> {{counterWeeks}}</b>
                            <b v-else> - {{counterWeeks}}</b>
                        </span>
                    </div>
                    <div id="slider-today">
                        <span id="week" style="color:grey"><b>wk</b></span>
                        <a id="month" v-on:click="switchTableType('month-table')">mo</a>
                        <a id="month" v-on:click="getWorkTasksPopUp">add</a>
                    </div>                    
                    <div id="slider-next">
                        <span class="counter-next" v-if="counterWeeks != 0" v-on:click="counterWeeks < 0 ? getCurrentWeek() : null"
                                v-bind:class="counterWeeks > 0 ? 'no-active'  : null">
                            <b v-if="counterWeeks<0"> {{counterWeeks}}</b>
                            <b v-else>+ {{counterWeeks}}</b>
                        </span>  
                        <a id="next" v-on:click="getNetxWeek()">&gt;&gt;</a>
                    </div>
                </div>
            </th>           
            <th class="week-font week-width" 
                v-for="(item, index) in tableDaysName" 
                v-bind:class="index > 4 && index <7 ? 'week-end'  : index== currentDayTablePosition ?'current-day':null">
                {{item}}
            </th>
            <th class="week-font week-width">
                Tot
            </th>
        </tr>
    </thead>
    <tbody>        
        <tr v-for="item in responseData.TaskWithLogsTime">
            <td class="no-select-vertical-cell task-name" style="width:40%; border-right: 0px solid grey">{{item.WorkTask.Name}}</td>
            <td class="no-select-vertical-cell task-name" style="border-left: 0px solid grey">{{item.WorkTask.Description}}</td>
            <td class="cursor"
                v-for="(log,index) in item.TaskHoursPerWeek"
                v-on:click="log == 0 ? getLogWorkFormPopUp($event) : getWorkLogsPopUp($event)"
                v-bind:class="index > 4 && index <7 ? 'week-end'  : index== currentDayTablePosition ?'current-day':null">
                <span v-if="log>0">{{getformatTableValue(log)}}h</span>
                <div style="text-align:center" v-else>
                    <span class="add-log">&#10133;</span>
                </div>

            </td>
            <td class="total-font">
                {{getformatTableValue(item.SumTaskHoursPerWeek)}}h
            </td>
        </tr>
        <tr style="background-color:#e0f0ff" v-if="responseData.TaskWithLogsTime !=null ? responseData.TaskWithLogsTime.length > 0 : false">
            <td class="no-select-vertical-cell nohover" colspan="2">Total ({{responseData.TaskWithLogsTime !=null ? responseData.TaskWithLogsTime.length : null}} issue):</td>
            <td class="total-font"
                v-for="(item, index) in responseData.SumHoursPerDay"
                v-bind:class="index > 4 && index <7 ? 'week-end'
                : index == currentDayTablePosition ?'current-day':null">
                {{getformatTableValue(item)}}h
            </td>
            <td class="total-font">
                {{getformatTableValue(responseData.SumHoursPerWeek)}}h
            </td>
        </tr>
        <tr v-else>
            <td class="no-select-vertical-cell nohover" style="background-color:#e0f0ff" colspan="10">There are no time tracking records for the period.</td>
        </tr>
    </tbody>
</table>
</div>