﻿<div class="overlay" v-bind:style="{ top: mouseposition.y + 'px', left: mouseposition.x + 'px', display: 'block'}">
    <div style="text-align:right; cursor: pointer">
        <span class="closePopupBtn" v-on:click="$emit('close')"> X </span>
    </div>
    <div class="scrollbar-pop-up">
        <div v-for="item in logs">
            {{convertNetDateToViewTableDate(item.CreateDate)}}
            &nbsp;
            <span style="color:cornflowerblue">{{getformatTableValue(item.TimeSpent)}}h</span>
            &nbsp;
            {{reductionStrTo20Char(item.Description)}}
            &nbsp;
            <div style="float:right">
                [&nbsp;<a class="add" v-on:click="addWorkLog"><span>+</span></a>&nbsp;]
                [&nbsp;<a class="delete delete-worklog" v-on:click="deleteWorkLog(item.Id)"><span>x</span></a>&nbsp;]
            </div>
            <br>
        </div>
    </div>
</div>
    

