﻿<div class="overlay" v-bind:style="{ top: mouseposition.y + 'px', left: mouseposition.x + 'px', display: 'block'}">
    <div style="text-align:right; cursor: pointer">
        <span class="closePopupBtn" v-on:click="$emit('close')"> X </span>
    </div>
    <div class="scrollbar-pop-up">
        <div v-if="tasks.length>0" v-for="item in tasks">
            {{item.Name}}
            &nbsp;
            <span style="float: right;">[&nbsp;<a class="add" v-on:click="addWorkTaskToTable(item.Name, item.Description, item.WorkTaskId)"><span>+</span></a>&nbsp;]</span>
            &nbsp;
            <span style="float: right; padding-right: 5px;">{{item.Description}}</span>
            &nbsp;
            <br>
        </div>
        <div v-if="tasks.length<=0">
            No open tasks.
        </div>
    </div>
</div>
