﻿@section Styles
{
    <link href="~/Content/SiteCss/TaskBoard/Index/TaskTable.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/TaskBoard/Index/PopUp.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/TaskBoard/Index/HighlightingTableRowAndColumn.css" rel="stylesheet" />
}

<div id="task-board">
    <component ref="table"
               v-bind:is="tableType"
               v-on:switch-table-type="switchTableType"
               v-on:get-log-work-form-pop-up="getLogWorkFormPopUp"
               v-on:get-work-logs-pop-up="getWorkLogsPopUp"
               v-on:get-work-tasks-pop-up="getWorkTasksPopUp">
    </component>
    <log-work-form-pop-up v-bind:errors="errors"
                          v-bind:logdate="currentLogDay"
                          v-bind:mouseposition="mousePosition"
                          v-if="showLogWorkFormPopUp"
                          v-on:close="closeLogWorkFormPopUp"
                          v-on:send-work-log-form="saveWorkLogForm">
    </log-work-form-pop-up>
    <work-logs-pop-up v-bind:logs="dayLogs"
                      v-bind:taskid="currentTaskId"
                      v-bind:logday="currentLogDay"
                      v-bind:mouseposition="mousePosition"
                      v-if="showWorkLogsPopUp"
                      v-on:close="showWorkLogsPopUp = false"
                      v-on:get-log-work-form-pop-up="getLogWorkFormPopUp"
                      v-on:delete-log-work="deleteLogWork">
    </work-logs-pop-up>
    <work-tasks-pop-up v-bind:tasks="workTasks"
                       v-bind:mouseposition="mousePosition"
                       v-if="showWorkTasksPopUp"
                       v-on:close="showWorkTasksPopUp = false"
                       v-on:add-work-task-to-table="addWorkTaskToTable">
    </work-tasks-pop-up>
</div>

@section Scripts {
    <script src="~/Scripts/moment.js"></script>
    <script>
        var TaskBoard_WeekTable = '@Url.Action(MVC.TaskBoard.ActionNames.WeekTable, MVC.TaskBoard.Name)';
        var TaskBoard_MonthTable = '@Url.Action(MVC.TaskBoard.ActionNames.MonthTable, MVC.TaskBoard.Name)';
        var TaskBoard_CreateLogWork = '@Url.Action(MVC.TaskBoard.ActionNames.CreateLogWork, MVC.TaskBoard.Name)';
        var TaskBoard_DeleteLogWork = '@Url.Action(MVC.TaskBoard.ActionNames.DeleteWorkLog, MVC.TaskBoard.Name)';
        var TaskBoard_LogsForDay = '@Url.Action(MVC.TaskBoard.ActionNames.LogsForDay, MVC.TaskBoard.Name)';
        var TaskBoard_GetOpenWorkTaskWithoutLogs = '@Url.Action(MVC.TaskBoard.ActionNames.GetOpenWorkTaskWithoutLogs, MVC.TaskBoard.Name)';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/x-template" id="log-work-form-pop-up-template">
        @Html.Partial(MVC.TaskBoard.Views._LogWorkFormPopUpTemplate)
    </script>
    <script type="text/x-template" id="work-tasks-pop-up-template">
        @Html.Partial(MVC.TaskBoard.Views._WorkTasksPopUpTemplate)
    </script>
    <script type="text/x-template" id="work-logs-pop-up-template">
        @Html.Partial(MVC.TaskBoard.Views._WorkLogsPopUpTemplate)
    </script>
    <script type="text/x-template" id="week-table-template">
        @Html.Partial(MVC.TaskBoard.Views._WeekTableTemplate)
    </script>
    <script type="text/x-template" id="month-table-template">
        @Html.Partial(MVC.TaskBoard.Views._MonthTableTemplate)
    </script>

    <script src="~/Scripts/SiteJs/TaskBoard/Index/LogWorkFormPopUpVueComponent.js"></script>
    <script src="~/Scripts/SiteJs/TaskBoard/Index/WorkTasksPopUpVueComponent.js"></script>
    <script src="~/Scripts/SiteJs/TaskBoard/Index/WorkLogsPopUpVueComponent.js"></script>
    <script src="~/Scripts/SiteJs/TaskBoard/Index/WeekTableVueComponent.js"></script>
    <script src="~/Scripts/SiteJs/TaskBoard/Index/MonthTableVueComponent.js"></script>
    <script src="~/Scripts/SiteJs/TaskBoard/Index/TaskBoardVue.js"></script>
}






