﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.ErrorViewModels;
@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="text-align:center">
        <h2 style="color:red;">
            @Model.Message
        </h2>
        <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)">Go to main page</a>
    </div>
</body>
</html>
