﻿table {
    overflow: hidden;
}

body:not(.nohover) tbody tr:not(.nohover):hover,
body:not(.nohover) tbody td:not(.nohover):hover {
    background-color: #f0f0f0;
}

td:hover::after,
thead th:not(.nohover):hover::after,
td:focus::after,
thead th:not(.nohover):focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

td:not(.no-select-vertical-cell):hover::after,
th:not(.no-select-vertical-cell):hover::after {
    background-color: #f0f0f0;
}

td:focus::after,
th:focus::after {
    background-color: lightblue !important;
}

