﻿element.style {
    top: 0px;
    left: 673px;
    display: block;
}

.estimatePopup {
    font-family: arial,sans-serif;
    display: none;
    background: white;
    position: absolute;
    z-index: 100;
    text-align: left;
    color: #000;
    padding: 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

    .estimatePopup .closePopupBtn {
        float: right;
        cursor: pointer;
        font-weight: bold;
    }

.popupTitle, .closePopupBtn, .submitBtn {
    font-family: arial,sans-serif;
}

.estimatePopup div {
    line-height: 1.5;
}

.overlay, .estimatePopup {
    text-align: left;
    color: #000;
}

    .estimatePopup .submitBtn {
        font-family: 'FontAwesome';
        cursor: pointer;
        color: #326ca6;
    }

    .estimatePopup .closePopupBtn {
        float: right;
        cursor: pointer;
        font-weight: bold;
    }

.overlay {
    background: white;
    position: absolute;
    z-index: 100;
    text-align: left;
    color: #000;
    padding: 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

.delete-worklog span {
    color: red;
    cursor: pointer;
}

.add span {
    color: green;
    cursor: pointer;
}

.estimatePopup .closePopupBtn {
    float: right;
    cursor: pointer;
    font-weight: bold;
}
