﻿table {
    border-collapse: collapse;
    border: 1px solid grey;
    width: 100%
}

td, tr, th {
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 14px;
}
td {
    border: 1px solid grey;
}

td, th {
    padding: 5px;
    position: relative;
    outline: 0;
}

.scrollbar {
    overflow-y: Auto;
    max-height: 450px;
}

.scrollbar-pop-up {
    overflow-y: Auto;
    max-height: 100px;
}

.cursor {
    cursor: pointer;
}

.th-summary {
    font-family: arial,sans-serif;
    font-size: 12px;
    color: #707070;
    width: 60%
}
div#slider-wrapper {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    font-weight: bolder;
    color: #3b73af !important;
    position: relative;
    height: 15px;
    background-color: #e0f0ff;
    border: 1px solid #c2d9ef;
    min-width: 200px;
}

div#slider-prev {
    font-family: arial,sans-serif;
    padding-right: 4px;
    color: #3b73af !important;
    font-size: 12px;
    padding-left: 4px;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

div#slider-next {
    font-family: arial,sans-serif;
    position: absolute;
    bottom: 0;
    right: 5px;
    padding-left: 4px;
    cursor: pointer;
}

div#slider-today {
    position: absolute;
    left: 36%;
    bottom: 0;
}
#prev {
    border-right: 1px dotted #d2d2d2;
    padding-right: 4px;
}

#next {
    border-left: 1px dotted #d2d2d2;
    padding-left: 4px;
}
.counter-prev {
    border-right: 1px dotted #d2d2d2;
    padding-right: 4px;
}
.counter-next {
    border-left: 1px dotted #d2d2d2;
    padding-left: 4px;
}

#week {
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 0 4px 0 5px;
    border-left: 1px dotted #d2d2d2;
    border-right: 1px dotted #d2d2d2;
    cursor: pointer;
}

#month {
    padding-right: 4px;
    font-family: arial,sans-serif;
    font-size: 12px;
    border-right: 1px dotted #d2d2d2;
    cursor: pointer;
}

.task-name {
    color: #3b73af !important;
}
.no-active
{
    color:gray;
}
.week-end {
    background: #ffeedd
}
.current-day {
    background: #f0ffeb
}
.add-log {
    display: none;
    font-family: arial,sans-serif;
    font-size: 12px;
    color:gray;
}


td:hover .add-log {
    display: inline-table;
}


.week-font {
    font-family: arial,sans-serif;
    font-size: 12px;
    color: #707070;
}
.total-font {
    font-weight: bolder
}

.week-width {
    width: 1%
}

.table-head {
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 12px;
    background-color: #3b73af !important;
}
