﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.UserViewModels
@model UserCreateViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/SiteCss/ValidationStyles.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/CreateUserStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/SiteJs/GetCitiesJs.js"></script>
    <script src="~/Scripts/SiteJs/PhoneValidation.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Create User</title>
</head>
<body>
    <div class="container">
        <h2> Create new user </h2>
        <form method="post">
            @Html.ValidationSummary()
            <div class="field">
                @Html.LabelFor(m => m.FirstName, "First Name*")
                @Html.TextBoxFor(x => x.FirstName)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.LastName, "Last Name*")
                @Html.TextBoxFor(x => x.LastName)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Phone, "Phone")
                @Html.EditorFor(x => x.Phone)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Email, "Email*")
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.TitleId, "Title*")
                @Html.DropDownListFor(x => x.TitleId, Model.Titles, "Please select value", new { id = "title" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.RoleId, "Role*")
                @Html.DropDownListFor(x => x.RoleId, Model.Roles, "Please select value", new { id = "roles" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.CountryId, "Country*")
                @Html.DropDownListFor(x => x.CountryId, Model.Contries, "Please select value", new { id = "country" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.CityId, "City*")
                @Html.DropDownListFor(x => x.CityId, Model.Cities, "Please select value", new { id = "city" })
            </div>
            <button class="button" type="submit" style="float: right">Save</button>
        </form>
    </div>
</body>
</html>

<script>
    var url = '@Url.Action("GetCities", "User")';
    $(function () {
        $('#country').change(function () {
            var countryId = $(this).val();
            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    "countryId": countryId
                },
                dataType: 'text',
                success: function (data) {
                    $('#city').html(data);
                    console.log("append");
                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>



