﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.UserViewModels
@model ParentUserUpdateViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/SiteCss/ValidationStyles.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/CreateUserStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/SiteJs/PhoneValidation.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        @Html.ValidationSummary()
        <h3>Update User</h3>
        <form method="post" action="~/User/UpdateUser">
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.FirstName, "First Name*")
                @Html.TextBoxFor(x => x.UserUpdateViewModel.FirstName)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.LastName, "Last Name*")
                @Html.TextBoxFor(x => x.UserUpdateViewModel.LastName)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.Phone, "Phone")
                @Html.TextBoxFor(x => x.UserUpdateViewModel.Phone, new { id = "Phone" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.Email, "Email*")
                @Html.TextBoxFor(x => x.UserUpdateViewModel.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.TitleId, "Title*")
                @Html.DropDownListFor(x => x.UserUpdateViewModel.TitleId, Model.UserUpdateViewModel.Titles, "Please select value", new { id = "title" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.RoleId, "Role*")
                @Html.DropDownListFor(x => x.UserUpdateViewModel.RoleId, Model.UserUpdateViewModel.Roles, "Please select value", new { id = "roles" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.CountryId, "Country*")
                @Html.DropDownListFor(x => x.UserUpdateViewModel.CountryId, Model.UserUpdateViewModel.Contries, "Please select value", new { id = "country" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateViewModel.CityId, "City*")
                @Html.DropDownListFor(x => x.UserUpdateViewModel.CityId, Model.UserUpdateViewModel.Cities, "Please select value", new { id = "city" })
            </div>
            <div class="field">
                @Html.HiddenFor(x => x.UserUpdateViewModel.UserId)
            </div>
            <button class="button" type="submit" style="float: right">Save</button>
        </form>
    </div>    
    <div class="container">
        <h2>Change password</h2>
        <form method="post" action="~/User/ChangeOldPassword">
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateOldPasswordViewModel.OldPassword, "Old Password*")
                @Html.PasswordFor(x => x.UserUpdateOldPasswordViewModel.OldPassword)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateOldPasswordViewModel.Password, "New Password*")
                @Html.PasswordFor(x => x.UserUpdateOldPasswordViewModel.Password)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserUpdateOldPasswordViewModel.ConfirmPassword, "Confirm Password*")
                @Html.PasswordFor(x => x.UserUpdateOldPasswordViewModel.ConfirmPassword)
            </div>
            <div class="field">
                @Html.HiddenFor(x => x.UserUpdateOldPasswordViewModel.UserId)
            </div>
            <button class="button" type="submit" style="float: right">Save</button>
        </form>
    </div>

</body>
</html>

<script>
    $(function () {
        $('#country').change(function () {
            var countryId = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCities", "User")',
                data: {
                    "countryId": countryId
                },
                dataType: 'text',
                success: function (data) {
                    $('#city').html(data);
                    console.log("append");
                },
                error: function (data) {
                    console.log(data);
                }
            });

            return false;
        });
    });
</script>