﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.UserViewModels;
@using Itransition.TeamManagement.Presentation.WebUI.HtmlHelpers;
@using Itransition.TeamManagement.Presentation.WebUI.Services.SortingService
@model UserPlaginationViewModel
@{
    int pageForDelete = Model.PageInfo.CurrentPage;

    if (pageForDelete > 1 && Model.Users.Count == 1)
    {
        pageForDelete -= 1;
    }
    RouteValueDictionary routeDic = null;
}

@helper GetSortLink(SortingUserTableFieldsEnum sortingField, SortedList<int, SortingFieldAndType> currentSorting, RouteValueDictionary routeValue)
{
    string tableSortName = sortingField.ToString();

    var sort = currentSorting.FirstOrDefault(x => x.Value.SortingUserTableField == sortingField);

    if (!sort.Equals(default(KeyValuePair<int, SortingFieldAndType>)))
    {
        if (sort.Value.SortingType == SortingTypeEnum.Asc)
        {
            <a href="@Url.Action("Users", "User", routeValue)" style="color:green">@tableSortName</a>
            @:<text class="arrow arrow-up" style="color: green"></text>
        }
        else if (sort.Value.SortingType == SortingTypeEnum.Des)
        {
            <a href="@Url.Action("Users", "User", routeValue)" style="color:red">@tableSortName</a>
            @:<text class="arrow arrow-down" style="color: red"></text>
        }
    }
    else
    {
        <a href="@Url.Action("Users", "User", routeValue)" style="color:black">@tableSortName</a>
        @:<text class="arrow arrow-up" style="color: black"></text>
        @:<text class="arrow arrow-down" style="color: black"></text>
    }

}
@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/SiteCss/SearchWrapper.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/TableStyle.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/HomePageStyle.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/TableSort.css" rel="stylesheet" />
}

<body>
    <div class="container">
        <form method="get" action="@Url.Action("CreateUser", "User")">
            <button class="button" type="submit">Create user</button>
        </form>
        <form method="get" action="@Url.Action("Users", "User")" style="float:right">
            <button class="button" type="submit">Cleaning</button>
        </form>
        <form action="@Url.Action("Users", "User")" style="float: right">
            <div class="searchWrapper">
                <button type="submit">&#128270;</button>
                <input id="searchInput" type="text" name="search" value="@Model.Filter" placeholder="Search.." />
            </div>
        </form>
        <div>
            <br>
            @Html.ValidationSummary()
            @if (Model.Users.Count() > 0)
            {
                <div id="popUpResult" style="display:none;"></div>
                <table class="myTable">
                    <tr>
                        <th>
                            @{routeDic = Html.GetRouteValueDictionary(Model.СurrentSorting, SortingUserTableFieldsEnum.Name, Model.PageInfo.CurrentPage, Model.Filter); }
                            @GetSortLink(SortingUserTableFieldsEnum.Name, Model.СurrentSorting, routeDic)
                        </th>
                        <th>
                            @{routeDic = Html.GetRouteValueDictionary(Model.СurrentSorting, SortingUserTableFieldsEnum.Title, Model.PageInfo.CurrentPage, Model.Filter); }
                            @GetSortLink(SortingUserTableFieldsEnum.Title, Model.СurrentSorting, routeDic)

                        </th>
                        <th>
                            @{routeDic = Html.GetRouteValueDictionary(Model.СurrentSorting, SortingUserTableFieldsEnum.Country, Model.PageInfo.CurrentPage, Model.Filter);}
                            @GetSortLink(SortingUserTableFieldsEnum.Country, Model.СurrentSorting, routeDic)

                        </th>
                        <th>
                            @{routeDic = Html.GetRouteValueDictionary(Model.СurrentSorting, SortingUserTableFieldsEnum.City, Model.PageInfo.CurrentPage, Model.Filter);}
                            @GetSortLink(SortingUserTableFieldsEnum.City, Model.СurrentSorting, routeDic)
                        </th>
                        <th>
                            @{routeDic = Html.GetRouteValueDictionary(Model.СurrentSorting, SortingUserTableFieldsEnum.Phone, Model.PageInfo.CurrentPage, Model.Filter);}
                            @GetSortLink(SortingUserTableFieldsEnum.Phone, Model.СurrentSorting, routeDic)
                        </th>
                        <th>
                            @{routeDic = Html.GetRouteValueDictionary(Model.СurrentSorting, SortingUserTableFieldsEnum.Email, Model.PageInfo.CurrentPage, Model.Filter);}
                            @GetSortLink(SortingUserTableFieldsEnum.Email, Model.СurrentSorting, routeDic)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td class="popUp" id="@item.UserId">@item.FirstName @item.LastName </td>
                            <td class="popUp" id="@item.UserId">@item.Title</td>
                            <td class="popUp" id="@item.UserId">@item.CountryName</td>
                            <td class="popUp" id="@item.UserId">@item.CityName</td>
                            <td class="popUp" id="@item.UserId">@item.Phone</td>
                            <td class="popUp" id="@item.UserId">@item.Email</td>
                            <td>
                                @if (item.AccessToChange)
                                {
                                    <form method="get"><button class="button-link" type="submit" name="userId" value="@item.UserId" formaction="@Url.Action("UpdateUser", "User")">Edit</button></form>
                                    <form method="post">
                                        <input type="hidden" name="page" value="@pageForDelete" readonly>
                                        <button class="button-link" type="submit" name="userId" value="@item.UserId" formaction="@Url.Action("DeleteUser", "User")" onclick="return check()">Delete</button>
                                    </form>
                                }
                                else
                                {
                                    @:<text style="text-align:center; color:red">No access</text>
                                }

                            </td>
                        </tr>
                    }
                </table>
                <br />
                <div class="btn-group">
                    @Html.Partial("_PagesLinks", Html.PageLinks(Model.PageInfo, (page) => Url.Action("Users", Html.GetRouteValueDictionary(Model.СurrentSorting, page, Model.Filter))))
                </div>
            }
            else
            {
                <h2 style="text-align:center">No items. Click create</h2>
            }
        </div>
    </div>
</body>
@section Scripts {
    <script src="~/Scripts/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/SiteJs/Check.js"></script>
    <script>
    $(document).ready(function () {
        $("#popUpResult").dialog({
            autoOpen: false,
            title: 'Comment',
            width: 500,
            height: 'auto',
            modal: true
        });
    });

    $(function () {
        $('.myTable').on('click', '.popUp', function () {
            var userId = $(this).attr('id');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("PopUpComment", "User")',
                data: {
                    "userId": userId
                },
                dataType: 'text',
                success: function (data) {
                    $("#popUpResult").html(data);
                    $("#popUpResult").dialog("open");
                },
                error: function (data) {
                    console.log(data);
                }
            });

            return false;
        });
    });

    $(function () {
        $('.addComment').on('click', function () {
            var userId = $(this).attr('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddComment", "User")',
                data: {
                    "userId": userId
                },
                dataType: 'text',
                success: function (data) {
                    $("#popUpResult").html(data);
                    $("#popUpResult").dialog("open");
                },
                error: function (data) {
                    console.log(data);
                }
            });

            return false;
        });
    });
    </script>
    <script>
$(document).ready(function () {
    $('#searchInput').AddXbutton({ img: '@Url.Content("~/Content/x.gif")' });
});
(function ($) {
    $.fn.AddXbutton = function (options) {
        var defaults = {
            img: 'x.gif'
        };
        var opts = $.extend(defaults, options);
        $obj = $(this);
        $(this).each(
            function (i) {
                $(this).after(
                    $('<input type="image" id="xButton' + i + '" src="' + opts['img'] + '" />')
                        .css({ 'display': 'none', 'cursor': 'pointer', 'marginLeft': '-15px' })
                        .click(function () {
                            $obj.val('').focus();
                            $("#xButton" + i).hide();
                        }))
                    .keyup(function () {
                        if ($(this).val().length > 0) {
                            $("#xButton" + i).show();
                        } else {
                            $("#xButton" + i).hide();
                        }
                        if ($(this).val() != '') $("#xButton" + i).show();
                    });
                if ($(this).val().length > 0) {
                    $("#xButton" + i).show();
                } else {
                    $("#xButton" + i).hide();
                }
                if ($(this).val() != '') $("#xButton" + i).show();
            });
    };
})(jQuery);
    </script>
}
