﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.AccountViewModels
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/SiteCss/ValidationStyles.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/CreateUserStyles.css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width" />
    <title>Create User</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        @using (Html.BeginForm(MVC.Account.ActionNames.Login, MVC.Account.Name, new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post))        
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="field">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(x => x.Password)
            </div>
            <div>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <button class="button" type="submit" style="float: right">Log in</button>
        }
    </div>
</body>
</html>
