﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.CountryViewModels
@model CountryCreateViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/SiteCss/ValidationStyles.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/CreateUserStyles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Create User</title>
</head>
<body>
    <div class="container">
        <h2> Create new country </h2>
        <form method="post">
            @Html.ValidationSummary()
            <div class="field">
                @Html.LabelFor(m => m.Name, "Country name*")
                @Html.TextBoxFor(x => x.Name)
            </div>
            <button class="button" type="submit" style="float: right">Save</button>
        </form>
    </div>
</body>
</html>
