﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.CountryViewModels;
@using Itransition.TeamManagement.Presentation.WebUI.HtmlHelpers;
@model CountryPlaginationViewModel
@{
    int pageForDelete = Model.PageInfo.CurrentPage;

    if (pageForDelete > 1 && Model.Countries.Count == 1)
    {
        pageForDelete -= 1;
    }
}

@section Styles {
    <link href="~/Content/SiteCss/SearchWrapper.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/HomePageStyle.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/TableStyle.css" rel="stylesheet" />
}
<body>
<div class="container">
    <form method="get" action="@Url.Action("CreateCountry", "Country")">
        <button class="button" type="submit">Create country</button>
    </form>
    <div>
        <br>
        @if (Model.Countries.Count > 0)
        {
            <table class="myTable" style="text-align:center">
                <tr>
                    <th>
                        Country
                    </th>
                    <th>
                        City count
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                @foreach (var item in Model.Countries)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.CitiesCount
                        </td>
                        <td>
                            <form method="get"><button class="button-link" type="submit" name="countryId" value="@item.CountryId" formaction="@Url.Action("UpdateCountry", "Country")">Edit</button></form>
                            <form method="post">
                                <input type="hidden" name="page" value="@pageForDelete" readonly>
                                <button class="button-link" type="submit" name="countryId" value="@item.CountryId" formaction="@Url.Action("DeleteCountry", "Country")" onclick="return check()">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <br />
            <div class="btn-group">
                @Html.Partial("_PagesLinks", Html.PageLinks(Model.PageInfo, (x) => Url.Action("GetCountries", new { page = x })))
            </div>
        }
        else
        {
            <h2 style="text-align:center">No items. Click create</h2>
        }
    </div>
</div>
</body>
@section Scripts {
    <script src="~/Scripts/SiteJs/Check.js"></script>
}
