﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.CityViewModels
@using Itransition.TeamManagement.Presentation.WebUI.HtmlHelpers;

@model CityPlaginationViewModel
@{
    int pageForDelete = Model.PageInfo.CurrentPage;

    if (pageForDelete > 1 && Model.Cities.Count == 1)
    {
        pageForDelete -= 1;
    }
}
@section Styles {
    <link href="~/Content/SiteCss/SearchWrapper.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/HomePageStyle.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/TableStyle.css" rel="stylesheet" />
}
<body>
    <div class="container">
        <form method="get" action="@Url.Action("CreateCity", "City")">
            <button class="button" type="submit">Create city</button>
        </form>
        @if (Model.Cities.Count > 0)
        {
            <div>
                <br>
                <table class="myTable">
                    <tr>
                        <th>
                            City
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    @foreach (var item in Model.Cities)
                    {
                        <tr>
                            <td>@item.Name </td>
                            <td>@item.CountryName</td>
                            <td>
                                <form method="get" action="@Url.Action("UpdateCity", "City")">
                                    <input type="hidden" name="countryId" value="@item.CountryId" readonly>
                                    <input type="hidden" name="cityId" value="@item.CityId" readonly>
                                    <button class="button-link" type="submit">Edit</button>
                                </form>
                                <form method="post" action="@Url.Action("DeleteCity", "City")">
                                    <input type="hidden" name="countryId" value="@item.CountryId" readonly>
                                    <input type="hidden" name="cityId" value="@item.CityId" readonly>
                                    <input type="hidden" name="page" value="@pageForDelete" readonly>
                                    <button class="button-link" type="submit" onclick="return check()">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
                <br />
                <div class="btn-group">
                    @Html.Partial("_PagesLinks", Html.PageLinks(Model.PageInfo, (x) => Url.Action("GetCities", new { page = x })))
                </div>
            </div>
        }
        else
        {
            <h2 style="text-align:center">No items. Click create</h2>
        }
    </div>
</body>
@section Scripts {
    <script src="~/Scripts/SiteJs/Check.js"></script>
}
