﻿@using Itransition.TeamManagement.Presentation.WebUI.ViewModels.CityViewModels
@model CityUpdateViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/SiteCss/ValidationStyles.css" rel="stylesheet" />
    <link href="~/Content/SiteCss/CreateUserStyles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit city</title>
</head>
<body>
    <div class="container">
        <h2> Edit city </h2>
        <form method="post">
            @Html.ValidationSummary()
            <div class="field">
                @Html.LabelFor(m => m.Name, "City name*")
                @Html.TextBoxFor(x => x.Name)
                <input type="hidden" name="countryId" value="@Model.CountryId" readonly>
                <input type="hidden" name="countryId" value="@Model.CityId" readonly>
            </div>
            <button class="button" type="submit" style="float: right">Save</button>
        </form>
    </div>
</body>
</html>
