﻿body {
    font-size: 20px;
}

label {
    float: left;
}

.field {
    clear: both;
    text-align: right;
    line-height: 30px;
}

.main {
    float: left
}

.container {
    width: 600px;
}

    .container input {
        width: 70%;
    }

    .container input[type=checkbox] {
        width: 17%;
    }

    .container select {
        width: 71%;
    }

    .container textarea {
        width: 70%;
    }
.button {
    background-color: #ffffff;
    color: #000000;
    font-size: 17px;
    border-radius: 2px;
}

.button-link {
    cursor: pointer;
}

.button {
    cursor: pointer;
}     