﻿.button-link {
    outline: none;
    border: 0;
    background: transparent;
    color: black;
}

.button {
    background-color: #ffffff;
    color: #000000;
    font-size: 17px;
    border-radius: 2px;
}

.btn-group {
    float: right;
    font-size: 20px;
}

form {
    display: inline-block;
}

a.pageSelectedLink {
    color: red;
}

A:link {
    text-decoration: none;
}

A:visited {
    text-decoration: none;
}

A:active {
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
    color: red;
}

.button-link {
    cursor: pointer;
}

.button {
    cursor: pointer;
}     
