﻿.container {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 15px;
    margin: 0 auto;
}

    .container:after, .row:after {
        content: "";
        display: table;
        clear: both;
    }

.col-1-2 {
    width: 50%;
    float: left;
}

.col-1-3 {
    width: 33.3333333333%;
    float: left;
}

.col-1-4 {
    width: 25%;
    float: left;
}

.col-2-3 {
    width: 66.6666666667%;
    float: left;
}

.col-4-5 {
    width: 80%;
    float: left;
}

.col-1-5 {
    width: 20%;
    float: left;
}

.row {
    margin-bottom: 15px;
}
