﻿.searchWrapper {
    height: 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 5px;
}

    .searchWrapper input,
    .searchWrapper button {
        border-color: black;
        border-width: 1px;
        outline: none;
        background-color: transparent;
        border: 0;
    }

    .searchWrapper button {
        cursor: pointer;
    }
   

