﻿a.arrow {
    display: inline-block;
    margin: 0 0px;
    font-size: 0;
}

.arrow::before {
    border: 10px solid;
}

.arrow::before {
    content: "";
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
    display: inline-block;
}

.arrow-up::before {
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}
