﻿@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    У попа была собака,<br>
    Он ее любил.<br>
    Она съела кусок мяса,<br>
    Он ее убил!<br>
    В землю закопал,<br>
    Надпись написал, что:<br>
    "У попа была собака,<br>
    Он ее любил,<br>
    Она съела кусок мяса,<br>
    Он ее убил".<br>
</div>
